.edit-banner {
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: none;
}

.edit-banner span i {
    margin-right: 10px;
}

.edit-banner button {
    font-size: 14px;
    background: white;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 20px;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio .portfolio-header {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#portfolio .portfolio-header h2 {
    text-align: center;
    margin-right: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.categories input {
    display: none;
}

.categories input + label {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Syne', serif;
    color: var(--primary-color);
    padding: 9px 22px;
    margin: 0 5px;
    border: 1px solid var(--primary-color);
    border-radius: 60px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.categories input:checked + label {
    background-color: var(--primary-color);
    color: white;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img, #gallery-popup img {
    width: 100%;

}

.edit-button {
    font-size: 14px;
    background: transparent;
    margin: 10px 0;
    cursor: pointer;
    display: none;
}

.edit-button i {
    margin-right: 5px;
}

/* Style for popup */
#edit-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#edit-popup > div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 600px;
    max-height: 80vh;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

#edit-popup .popup-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#edit-popup .popup-nav i {
    font-size: 1.5em;
    cursor: pointer;
}

#edit-popup .popup-nav i.fa-arrow-left {
    visibility: hidden;
    pointer-events: none;
}

#edit-popup .page-1 {
    display: none;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#edit-popup .page-1 h2 {
    margin-bottom: 30px;
    font-family: 'Work Sans', serif;
    color: black;
    font-weight: normal;
    font-size: 26px;
}

#gallery-popup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow-y: auto;
    max-height: 460px;
}

#gallery-popup figure {
    position: relative;
}

#gallery-popup button {
    background-color: transparent;
    cursor: pointer;
}

#gallery-popup i {
    font-size: 0.8em;
    position: absolute;
    color: white;
    top: 3px;
    right: 3px;
    background-color: black;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
    transition: opacity 0.2s;
}

#gallery-popup i.fa-arrows-up-down-left-right {
    right: 22px;
    opacity: 0;
    cursor: move;
}

#gallery-popup figure:hover i.fa-arrows-up-down-left-right {
    opacity: 1;
}

#edit-popup hr {
    border-color: gray transparent transparent transparent;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    margin-top: 10px;
}

#edit-popup .page-1 .add {
    padding: 10px 20px;
    margin-bottom: 0;
}

#edit-popup .page-1 .delete-all {
    color: #D65353;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
}

#edit-popup .page-2 {
    display: none;
}

#edit-popup.view-page-1, #edit-popup.view-page-2 {
    display: flex;
}

#edit-popup.view-page-1 .page-1 {
    display: flex;
}

#edit-popup.view-page-2 .page-2 {
    display: flex;
}

#edit-popup.view-page-2 .popup-nav i.fa-arrow-left {
    visibility: visible;
    pointer-events: auto;
}

/* Style when logged in */
body.logged-in nav span, body.logged-in .edit-button {
    display: block;
}

body.logged-in nav a, body.logged-in .categories {
    display: none;
}

body.logged-in .edit-banner {
    display: flex;
}

body.logged-in header {
    margin-top: 80px;
}

body.logged-in #portfolio .portfolio-header {
    margin-bottom: 3em;
}
