.edit-banner {
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: none;
}

.edit-banner button {
    font-size: 14px;
    background: white;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 20px;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.categories input {
    display: none;
}

.categories input + label {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Syne', serif;
    color: var(--primary-color);
    padding: 9px 22px;
    margin: 0 5px;
    border: 1px solid var(--primary-color);
    border-radius: 60px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.categories input:checked + label {
    background-color: var(--primary-color);
    color: white;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;

}

/* Style when logged in */
body.logged-in nav span {
    display: block;
}

body.logged-in nav a {
    display: none;
}

body.logged-in .edit-banner {
    display: flex;
}

body.logged-in header {
    margin-top: 80px;
}
